---
http_interactions:
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Sao%20Paulo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - dbedd961-556f-4cbd-b564-6f3044dbf1ce
      X-Request-Time:
      - '0.166'
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"type":"City","query":"Sao Paulo, Brazil","language":"en","unit":"m"},"location":{"name":"Sao
        Paulo","country":"Brazil","region":"Sao Paulo","lat":"-23.533","lon":"-46.617","timezone_id":"America\/Sao_Paulo","localtime":"2022-08-30
        22:19","localtime_epoch":1661897940,"utc_offset":"-3.0"},"current":{"observation_time":"01:19
        AM","temperature":12,"weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"],"weather_descriptions":["Partly
        cloudy"],"wind_speed":24,"wind_degree":110,"wind_dir":"ESE","pressure":1027,"precip":0,"humidity":82,"cloudcover":75,"feelslike":10,"uv_index":1,"visibility":10,"is_day":"no"}}'
  recorded_at: Wed, 31 Aug 2022 01:19:00 GMT
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Bahia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 66ce8b0c-8641-423f-aa8c-784604f6c6f4
      X-Request-Time:
      - '0.217'
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"type":"City","query":"Bahia Blanca, Argentina","language":"en","unit":"m"},"location":{"name":"Bahia
        Blanca","country":"Argentina","region":"Buenos Aires","lat":"-38.717","lon":"-62.283","timezone_id":"America\/Argentina\/Buenos_Aires","localtime":"2022-08-30
        22:22","localtime_epoch":1661898120,"utc_offset":"-3.0"},"current":{"observation_time":"01:22
        AM","temperature":14,"weather_code":113,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0008_clear_sky_night.png"],"weather_descriptions":["Clear"],"wind_speed":18,"wind_degree":11,"wind_dir":"N","pressure":1017,"precip":0,"humidity":41,"cloudcover":0,"feelslike":12,"uv_index":1,"visibility":10,"is_day":"no"}}'
  recorded_at: Wed, 31 Aug 2022 01:22:10 GMT
recorded_with: VCR 6.1.0
