---
http_interactions:
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Sao%20Paulo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - dbedd961-556f-4cbd-b564-6f3044dbf1ce
      X-Request-Time:
      - '0.166'
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"type":"City","query":"Sao Paulo, Brazil","language":"en","unit":"m"},"location":{"name":"Sao
        Paulo","country":"Brazil","region":"Sao Paulo","lat":"-23.533","lon":"-46.617","timezone_id":"America\/Sao_Paulo","localtime":"2022-08-30
        22:19","localtime_epoch":1661897940,"utc_offset":"-3.0"},"current":{"observation_time":"01:19
        AM","temperature":12,"weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"],"weather_descriptions":["Partly
        cloudy"],"wind_speed":24,"wind_degree":110,"wind_dir":"ESE","pressure":1027,"precip":0,"humidity":82,"cloudcover":75,"feelslike":10,"uv_index":1,"visibility":10,"is_day":"no"}}'
  recorded_at: Wed, 31 Aug 2022 01:19:00 GMT
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Bahia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 66ce8b0c-8641-423f-aa8c-784604f6c6f4
      X-Request-Time:
      - '0.217'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Maine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 2bcd8f52-e878-4d6c-a9b0-5b620567e1d0
      X-Request-Time:
      - '0.188'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Oregon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 54d19e54-0b12-4182-b26a-6b15480deccd
      X-Request-Time:
      - '0.183'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Florida
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - b16d2c6b-7112-4c0a-9981-10bd58b1699e
      X-Request-Time:
      - '0.200'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 68a88ff2-071a-4413-a1f8-1a0a0faf0017
      X-Request-Time:
      - '0.012'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Nevada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 459f1cad-063a-4d4e-89f3-612a3e35d873
      X-Request-Time:
      - '0.194'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Arizona
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 960293a3-d610-4fcc-9380-0693ad1463e6
      X-Request-Time:
      - '0.186'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Delaware
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 8eed75a7-35d9-4bd0-8071-0e9b42941867
      X-Request-Time:
      - '0.187'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Iowa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - e029b899-33ee-4219-bc95-b5a96fa545b2
      X-Request-Time:
      - '0.180'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Mississippi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 1d42580f-4619-43d9-8804-c7722ac11875
      X-Request-Time:
      - '0.189'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Bahia,%20Brasil
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 3a0a30c2-3fa9-4df8-8f2f-71da482618ab
      X-Request-Time:
      - '0.197'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Minas%20Gerais
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - af360529-cf50-4fab-b01b-0ad34608aa76
      X-Request-Time:
      - '0.201'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=e294cc831cde0fe6c95bfbade7ac980c&query=Tocantins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 1c93273c-832c-4c40-94eb-c266648af4e0
      X-Request-Time:
      - '0.213'
    body:
      encoding: ASCII-8BIT
      string: '[...]
{"request":{"type":"City","query":"Sao Paulo, Brazil","language":"en","unit":"m"},"location":{"name":"Sao
        Paulo","country":"Brazil","region":"Sao Paulo","lat":"-23.533","lon":"-46.617","timezone_id":"America\/Sao_Paulo","localtime":"2022-09-04
        13:07","localtime_epoch":1662296820,"utc_offset":"-3.0"},"current":{"observation_time":"04:07
        PM","temperature":12,"weather_code":116,"weather_icons":["https:\/\/assets.weatherstack.com\/images\/wsymbols01_png_64\/wsymbol_0002_sunny_intervals.png"],"weather_descriptions":["Partly
        cloudy"],"wind_speed":15,"wind_degree":140,"wind_dir":"SE","pressure":1026,"precip":0.1,"humidity":88,"cloudcover":75,"feelslike":10,"uv_index":3,"visibility":10,"is_day":"yes"}}'
  recorded_at: Sun, 04 Sep 2022 16:07:14 GMT
recorded_with: VCR 6.1.0
